//VERY LARGE SCREENS
@media all and (min-width: 1610px) {
  //HEADER
  .header {
    height: 900px;
    &__video-container {
      iframe{
        width: 2600px!important;
        height: 1500px!important;
      }
    }
  }
  // MAX-WIN
  .max-win{
    .wins-container{
      width: 55%;
    }
  }
  //ABOUT
  .about{
    &__video-container{
      margin: -13% 0 0;
    }
    &__overlay{
      &_secondary{
        margin: 15% 0 0;
      }
      &_header{
        margin: 60px 0;
      }
    }
  }

  //FEATURES
  .features{
    height: auto;
    padding: 100px 0;
    .slot-secondary, &-header, &-secondary{
      width: 80%;
      margin: auto;
    }
    .slot-secondary{
      padding: 150px 0 50px;
      font-size: 16px;
      color: #e7ca0d;
      letter-spacing: 2.5px;
    }
    &-header{
      font-size: 64px;
      line-height: 1.23;
    }
    &-secondary{
      padding: 50px 0 120px;
      font-size: 24px;
      line-height: 1.5;
    }
    &-info{
      .images{
        .image-board, .image-ball{
          padding-top: 44%;
          width: 49%;
        }
      }
      .text{
        padding: 44px 50px;
        width: calc(49% - 100px);
        overflow: visible;
        ul{
          padding: 70px 0 0;
          font-family: "Open Sans";
          li{
            margin-bottom: 50px;
            list-style: none;
            h4,p{
              margin: 0;
              font-size: 1.65rem;
              line-height: 1.55;
            }
            p{
              font-weight: lighter;
            }
          }
        }
      }
    }
  }
}
//SMALL LAPTOPS
@media all and (max-width: 1080px) {
  // HEADER
  .header {
    height: 900px;
    &__video-container {
      iframe{
        width: 1090px!important;
        height: 610px!important;
      }
    }
    &__overlay{
      &-text{
        margin: 7% auto 0;
        width: 90%;
        .header-play{
          line-height: 55px;
          width: 25%;
        }
      }
    }
  }
  // INFO
  .info{
    &__images{
      width: 90%;
      .image-container{
        height: 250px;
        .image{
          height: 250px;
        }
        .image-title{
          font-size: 26px;
        }
      }
    }
  }
  //ABOUT
  .about{
    height: 550px;
    &__overlay{
      height: 100%;
      &_secondary{
        font-size: 14px;
      }
      &_header{
        margin: 60px 0;
        font-size: 62px;
        line-height: 1.23;
      }
      &_text{
        width: 70%;
      }
    }
  }
  //FEATURES
  .features{
    height: auto;
    .slot-secondary, &-header, &-secondary{
      width: 90%;
    }
    .slot-secondary{
      font-size: 14px;
    }
    &-info{
      width: 90%;
      .images{
        .image-woman{
          padding-top: 100%;
        }
        .image-board, .image-ball{
          height: 100px;
        }
      }
      .text{
        padding: 20px 30px 0;
        width: calc(49% - 60px);
        ul{
          padding: 40px 0 0;
          li{
            margin-bottom: 40px;
            h4,p{
              font-size: 18px;
            }
          }
          li:last-child{
            margin: 0;
          }
        }
      }
    }
  }
}//END

//TABLET
@media all and (max-width: 850px) {
  // HEADER
  .header {
    height: 400px;
    &__overlay{
      height: 100%;
      &-text{
        width: 90%;
        margin: 10% auto 0;
        .header-title{
          font-size: 32px;
        }
        .header-secondary{
          font-size: 15px;
          margin: 30px 0;
        }
        .header-play{
          width: 35%;
        }
      }
      .arrow-down{
        margin: 2% auto 0;
      }
    }
    &__video-container {
      display: none;
      iframe{
        display: none;
      }
    }
  }
  // INFO
  .info{
    padding: 90px 0 40px;
    .info-header, .info-secondary{
      margin: 0;
      text-align: center;
    }
    .info-header{
      line-height: 1.23;
    }
    .info-secondary{
      padding: 20px 0 60px;
      line-height: 1.5;
    }
    &__images{
      flex-direction: column;
      flex-wrap: wrap;
      .image-container{
        height: 450px;
        width: 100%;
        margin: 0 0 30px;
        .image{
          height: 450px;
        }
        .image-title{
          font-size: 46px;
        }
        .betwin{
          background-size: 100% 100%;
        }
      }
    }
  }
  // MAX-WIN
  .max-win{
    padding-bottom: 0px;
    &-header{
    }
    &-secondary{
        font-size: 20px;
    }
    .wins-container{
      .wins{
        width: 49%;
        .wins-img{
          height: 200px;
        }
        .win-secondary{
        }
        .win-line-img, .win-card-img{
          background-size: auto 100%;
        }
      }
    }
  }
  //ABOUT
  .about{
    height: 250px;    
    &__overlay{
      &_secondary{
        margin: 50px auto;
        font-size: 14px;
      }
      &_header{
        font-size: 32px;
      }
      &_text{
        width: 80%;
        font-size: 20px;
      }
    }
    &__video-container {
      display: none;
    }
  }
  //FEATURES
  .features{
    height: auto;
    padding: 0 0 15px;
    .slot-secondary, &-header, &-secondary{
      width: 80%;
      margin: auto;
    }
    .slot-secondary{
      padding: 150px 0 50px;
      font-size: 16px;
    }
    &-header{
      font-size: 64px;
      line-height: 1.23;
    }
    &-secondary{
      padding: 50px 0 60px;
      font-size: 30px;
      line-height: 1.5;
      font-weight: normal;
    }
    &-info{
      display: flex;
      justify-content: space-between;
      flex-direction: column-reverse;
      margin: auto;
      .images{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        height: auto;
        .image-woman{
          margin-bottom: 2%;
          width: 100%;
          padding-top: 90%;
          background-size: 100% 100%;
        }
        .image-board, .image-ball{
          padding-top: 20%;
          width: 49%;
        }
      }
      .text{
        margin: 2.5rem 0;
        padding: 44px 50px;
        width: calc(100% - 100px);
        overflow: visible;
        ul{
          padding: 70px 0 0;
          li{
            margin-bottom: 50px;
            h4,p{
              margin: 0;
              font-size: 20px;
              line-height: 1.55;
            }
          }
        }
      }
    }
  }
  // FOOTER
  .footer {
    height: 500px;
    &__logo {
      width: 30%;
    }
    &__social-icons {
      width: 37%;
    }
  }
}

//MOBILE
@media all and (max-width: 500px) {
  // HEADER
  .header {
      height: 450px;
      background: url("images/win-line.png") 45% center no-repeat;
      background-size: auto 100%;
    &__overlay{
      height: 100%;
      background: radial-gradient(circle at right, rgba(0,0,0,0.3) 15%,rgba(0,0,0,0.9) 85%);
      &-text{
        margin-top: 6.5rem;
        .header-title{
          font-size: 32px;
          margin: 0;
        }
        .header-secondary{
          margin: 10px 0 20px;
          color: #fff;
          text-shadow: #000 0 0 10px,#000 0 0 5px;
        }
      }
    }
    &__video-container {
      height: 450px;
      background: none;
      iframe{
        display: none;
      }
    }
  }
  // INFO
  .info{
    padding: 20 0 0;
    &-secondary{
      display: block;
      margin: 0 10%!important;
      width: 80%;
    }
    &__images{
      .image-container{
        .characters,.cards,.betwin{
          background-size: auto 100%;
        }
      }
    }
  }
  // MAX-WIN
  .max-win{
    padding-bottom: 0px;
    &-header{
    }
    &-secondary{
        font-size: 20px;
    }
    .wins-container{
      width: 90%;
      flex-wrap: wrap;
      .wins{
        width: 100%;
        margin-bottom: 30px;
        .wins-img{
          height: 200px;
        }
        .win-secondary{
          font-weight: normal;
          margin: 0;
        }
        .win-line-img, .win-card-img{
          background-size: auto 100%;
        }
      }
    }
  }
  //ABOUT
  .about{
    position: relative;
    height: 400px;
    background: #000 url("images/about_bg.jpg") center no-repeat;
    background-size: auto 100%;
    text-align: center;
    &__overlay{
      position: absolute;
      top: 0;
      padding: 0;
      background: rgba(0,0,0,0.5);
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &_secondary{
        font-size: 14px;
      }
      &_header{
        margin: 60px 0;
        font-size: 32px;
        line-height: 1.23;
      }
      &_text{
        margin: auto;
        font-size: 15px;
        line-height: 1.45;
      }
    }
  }
  //FEATURES
  .features{
    height: auto;
    padding: 0 0 1rem;
    .slot-secondary, &-header, &-secondary{
      width: 80%;
      margin: auto;
    }
    .slot-secondary{
      padding: 50px 0 20px;
      font-size: 16px;
    }
    &-header{
      font-size: 64px;
      line-height: 1.23;
    }
    &-secondary{
      padding: 30px 0 30px;
      font-size: 24px;
      line-height: 1.5;
    }
    &-info{
      display: flex;
      justify-content: space-between;
      margin: auto;
      .images{
        height: auto;
        .image-woman{
          width: 100%;
        }
      }
      .text{
        position: relative;
        margin: 1rem auto;
        padding: 24px 30px;
        overflow: visible;
        width: calc(100% - 60px);
        ul{
          padding: 30px 0 0;
          font-family: "Open Sans";
          li{
            margin-bottom: 20px;
            list-style: none;
            h4,p{
              margin: 0;
              font-size: 20px;
              line-height: 1.55;
            }
            p{
              font-weight: lighter;
            }
          }
        }
      }
    }
  }
  // FOOTER
  .footer {
    height: 100vh;
    &__social-icons {
      width: 57%;
    }
  }
}
