body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Open Sans";
}

.title{
  font-size: 2rem;
  font-family: Georgia;
}
.secondary{
  font-weight: normal;
  font-size: 1.25rem;
}
.text-dark-purple{
  color: #43113d;
}

// HEADER
.header {
  position: relative;
  overflow: hidden;
  height: 100vh;
  background: #000 url("images/win-line.png") 45% center no-repeat;
  background-size: cover;
  &__overlay{
    position: absolute;
    top: 0;
    z-index: 3;
    height: 100%;
    width: 100vw;
    background: radial-gradient(circle at right, transparent 15%,rgba(0,0,0,0.9) 75%);
    &-text{
      width: 80%;
      margin: 13% auto 0;
      .header-title{
        margin: 0;
        color: #fff;
        font-size: 72px;
        letter-spacing: 1px;
        line-height: 1.23;
      }
      .header-secondary{
        margin: 30px 0 50px;
        color: #fff;
      }
      .header-play{
        position: relative;
        display: inline-block;
        overflow: hidden;
        background: rgb(219, 186, 21);
        border: 2px solid rgb(229, 184, 76);
        font-weight: bold;
        font-size: 16px;
        text-align: center;
        line-height: 55px;
        width: 15%;
        border-radius: 30px;
        color: #fff;
        text-decoration: none;
        transition: all 0.2s ease-in-out;
        .glimpse{
          position: absolute;
          top: -2px; left: -100%;
          display: inline-block;
          box-sizing: border-box;
          height: 59px;
          width: 50px;
          opacity: 0.5;
          background-image: linear-gradient(to right, transparent , #fee);
          transform: skew(-30deg);
          animation: glimpse 5s linear infinite;
        }
        @keyframes glimpse{
          0%{
            left: -30%;

          }
          10%, 100%{
            left: 100%;
          }
        }
        &:hover{
          background: #43113d;
        }
      }

    }
    .arrow-down{
      margin: 5% auto 0;
      height: 40px;
      width: 45px;
      background: url("images/arrow-down.png") no-repeat;
      background-size: 100% 100%;
      animation: headerarrow 1.5s ease-in-out infinite;
    }
    @keyframes headerarrow{
      0%, 100%{
        margin: 5% auto 0;
      }
      50%{
        margin: 6% auto 0;
      }
    }
  }
  &__video-container {
    position: relative;
    width: 100%;
    height: auto;
    top: -30px;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

// INFO
.info{
  margin-top: -30px;
  padding: 90px 0 50px;
  background: #f0f0f0;
  .info-header, .info-secondary{
    margin: 0;
    text-align: center;
  }
  .info-header{
    // font-size: 32px;
    line-height: 1.23;
  }
  .info-secondary{
    padding: 20px 0 60px;
    font-size: 22px;
    line-height: 1.5;
  }
  &__images{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    color: #fff;
    .image-container{
      position: relative;
      height: 300px;
      width: 30%;
      overflow: hidden;
      background: rgb(67,17,61);
      .image{
        height: 300px;
        width: 100%;
        opacity: 0.5;
      }
      .image-title{
        color: #fff;
        position: absolute;
        width: 100%;
        text-align: center;
        top: 60%;
        z-index: 10;
        font-size: 36px;
      }
      .characters{
        background: url("images/sultan.png") center no-repeat;
        background-size: 100% auto;
        transition: all .1s linear;
      }
      .cards{
        background: url("images/cards.png") center no-repeat;
        background-size: auto 100%;
        transition: all .3s linear;
      }
      .betwin{
        background: url("images/win.png") center no-repeat;
        background-size: auto 100%;
        transition: all .3s linear;
      }
      .characters:hover,.cards:hover,.betwin:hover{
        transform: scale(1.05);
        opacity: 0.7;
      }
    }
  }
}

// MAX-WIN
.max-win{
  padding-bottom: 50px;
  &-header, &-secondary{
    text-align: center;
  }
  &-header{
    margin: 60px auto 30px;
  }
  &-secondary{
      line-height: 1.55;
      font-size: 20px;
    font-weight: normal;
  }
  .wins-container{
    text-align: center;
    width: 73%;
    margin: 60px auto 0;
    display: flex;
    justify-content: space-between;
    .wins{
      width: 486px;
      .wins-img{
        height: 333px;
      }
      .win-secondary{
        font-weight: normal;
      }
      .win-line-img{
        background: url("images/win-line.png") center no-repeat;
        background-size: 100% 100%;
      }
      .win-card-img{
        background: url("images/win-card.png") center no-repeat;
        background-size: 100% 100%;
      }
    }
  }
}

//ABOUT
.about{
  position: relative;
  height: 670px;
  width: 100%;
  text-align: center;
  overflow: hidden;
  background: #000 url("images/about_bg.jpg") right no-repeat;
  background-size: 100% auto;
  &__video-container{
    margin: -12% 0 0 -10%;
  }
  &__overlay{
    position: absolute;
    top: 0;
    padding: 0;
    background: rgba(0,0,0,0.8);
    height: 100%;
    width: 100%;
    &_secondary{
      margin: 30% 0 0;
      color: #e7ca0d;
      font-size: 14px;
    }
    &_header{
      margin: 60px 0;
      color: #e5b84c;
      font-size: 62px;
      line-height: 1.23;
    }
    &_text{
      margin: auto;
      width: 30%;
      color: #fff;
      font-size: 30px;
      line-height: 1.45;
    }
  }
}

//FEATURES
.features{
  height: auto;
  padding: 100px 0;
  .slot-secondary, &-header, &-secondary{
    width: 80%;
    margin: auto;
  }
  .slot-secondary{
    padding: 150px 0 50px;
    font-size: 16px;
    color: #e7ca0d;
    letter-spacing: 2.5px;
  }
  &-header{
    font-size: 64px;
    line-height: 1.23;
  }
  &-secondary{
    padding: 50px 0 120px;
    font-size: 24px;
    line-height: 1.5;
  }
  &-info{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 80%;
    .images{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 49%;
      height: auto;
      .image-woman{
        margin-bottom: 2%;
        width: 100%;
        padding-top: 90%;
        background: url("images/dancer.png") no-repeat;
        background-size: 100% 100%;
      }
      .image-board, .image-ball{
        padding-top: 40%;
        width: 49%;
      }
      .image-board{
        background: url("images/board.png") center no-repeat;
        background-size: cover;
      }
      .image-ball{
        background: url("images/ball.png") center no-repeat;
        background-size: cover;
      }
    }
    .text{
      position: relative;
      background: rgb(250, 250, 250);
      padding: 44px 50px;
      width: calc(49% - 100px);
      overflow: visible;
      ul{
        padding: 70px 0 0;
        font-family: "Open Sans";
        li{
          margin-bottom: 50px;
          list-style: none;
          h4,p{
            margin: 0;
            font-size: 20px;
            line-height: 1.55;
          }
          p{
            font-weight: lighter;
          }
        }
      }
    }
  }
}

// FOOTER
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
  width: 100%;
  background: #05142A;
  z-index: 2;

  &__logo {
    width: 20%;
  }

  &__social-icons {
    display: flex;
    justify-content: space-between;
    width: 17%;
    margin-top: 2rem;

    .icon {
      font-size: 3rem;
      color: #fff;
      opacity: 0.75;
      transition: 0.375s all ease-in-out;

      &:hover {
        opacity: 1;
        transition: 0.375s all ease-in-out;
      }
    }
  }

  &__copyrigth {
    margin-top: 2rem;
    font-size: 1.05rem;
    color: #fff;
  }
}
